@media (min-width: 1200px) and (max-width: 2560px) {
}

@media (min-width: 960px) and (max-width: 1199px) {
  .chart-title {
    width: 25%;
    margin: 20px;
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .main-top {
    padding-top: 8rem !important;
  }

  .main-info-contents {
    flex-direction: column;
  }

  .site-info {
    height: 250px;
    width: 350px;
    font-size: 32px;
  }
  .site-image {
    width: 325px;
    height: 300px;
  }

  .loader div {
    position: relative;
    width: 30px;
    height: 250px;
    margin: 10px;
  }

  .loader div::before {
    border-radius: 25px;
  }

  .loader div::after {
    left: 0;
    width: 29px;
    height: 29px;
    transform: translateY(220px);
  }

  @keyframes animate {
    0% {
      transform: translateY(220px);
      filter: hue-rotate(180deg);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(220px);
      filter: hue-rotate(0deg);
    }
  }

  .company-seach-contents {
    width: 600px;
  }

  .company-seach-contents input[type="text"] {
    width: 350px;
  }

  .main-middle {
    flex-direction: column;
    height: 1500px;
  }

  .rank-container {
    flex-direction: column;
  }

  .keywordRank-company,
  .keywordRank-portfolio,
  .rank-best-member {
    height: 380px;
    margin: 20px;
  }

  .like-item {
    justify-content: center;
  }

  .financial-items .chart-item {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .chart-title {
    width: 30%;
    margin: 20px;
    font-size: 20px;
  }

  #fi-chart-1,
  #fi-chart-2,
  #fi-chart-3,
  #fi-chart-4 {
    width: 50vw !important;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .main-info-contents {
    flex-direction: column;
  }

  .site-image {
    width: 250px;
    height: 250px;
  }

  .site-info {
    height: 250px;
    width: 300px;
    font-size: 28px;
  }
  .loader div {
    position: relative;
    width: 25px;
    height: 200px;
    margin: 10px;
  }

  .loader div::before {
    border-radius: 25px;
  }

  .loader div::after {
    left: 0;
    width: 25px;
    height: 26px;
    transform: translateY(175px);
  }

  @keyframes animate {
    0% {
      transform: translateY(175px);
      filter: hue-rotate(180deg);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(175px);
      filter: hue-rotate(0deg);
    }
  }

  .company-seach-contents {
    width: 450px;
    height: 210px;
  }

  .company-seach-contents input[type="text"] {
    width: 250px;
    padding: 10px 10px;
    font-size: 22px;
  }

  .company-seach-contents input[type="text"]::placeholder {
    font-size: 22px;
  }

  .company-seach-contents button[type="submit"] {
    width: 80px;
    padding: 10px 10px;
    font-size: 22px;
  }

  .main-middle {
    flex-direction: column;
    height: 1500px;
  }

  .rank-container {
    flex-direction: column;
  }

  .keywordRank-company,
  .keywordRank-portfolio,
  .rank-best-member {
    height: 380px;
    margin: 20px;
  }

  .like-item {
    justify-content: center;
  }

  .financial-items .chart-item {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .chart-title {
    width: 30%;
    margin: 20px;
    font-size: 16px;
  }

  #fi-chart-1,
  #fi-chart-2,
  #fi-chart-3,
  #fi-chart-4 {
    width: 50vw !important;
  }
}

@media (max-width: 499px) {
  .main-info-contents {
    flex-direction: column;
  }

  .site-image {
    width: 250px;
    max-height: 250px;
  }

  .site-info {
    height: 250px;
    width: 300px;
    font-size: 28px;
  }
  .loader div {
    position: relative;
    width: 20px;
    height: 200px;
    margin: 10px;
  }

  .loader div::before {
    border-radius: 25px;
  }

  .loader div::after {
    width: 19px;
    height: 25px;
  }

  .company-seach-contents {
    width: 350px;
    height: 180px;
  }

  .company-seach-contents input[type="text"] {
    width: 200px;
    padding: 10px 10px;
    font-size: 22px;
  }

  .company-seach-contents input[type="text"]::placeholder {
    font-size: 22px;
  }

  .company-seach-contents button[type="submit"] {
    width: 80px;
    padding: 10px 10px;
    font-size: 22px;
  }

  .main-middle {
    flex-direction: column;
    height: 1500px;
  }

  .rank-container {
    flex-direction: column;
  }

  .keywordRank-company,
  .keywordRank-portfolio,
  .rank-best-member {
    width: 280px;
    height: 380px;
    margin: 20px;
  }

  .rank-company-list li,
  .rank-portfolio-list li,
  .best-member-list li {
    width: 240px;
  }

  .list-company,
  .list-portfolio,
  .list-member {
    position: relative;
    width: 100%;
  }

  .list-company > div:nth-child(1),
  .list-company > div:nth-child(2),
  .list-portfolio > div:nth-child(1),
  .list-portfolio > div:nth-child(2),
  .list-member > div:nth-child(1),
  .list-member > div:nth-child(2) {
    width: 240px;
  }

  .like-item {
    justify-content: center;
  }

  .financial-items .chart-item {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .chart-title {
    width: 30%;
    margin: 20px;
    font-size: 16px;
  }

  #fi-chart-1,
  #fi-chart-2,
  #fi-chart-3,
  #fi-chart-4 {
    width: 75vw !important;
  }
}
