@media (min-width: 1200px) and (max-width: 2560px) {
}

@media (min-width: 960px) and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 768px) {
  .writepage-title,
  .comments-title {
    font-size: 24px;
  }

  .content {
    width: 400px;
  }

  .scroll-table {
    width: 400px;
  }

  .head-table th,
  .cm-head-table th {
    font-size: 20px;
  }

  .select .all-check-box {
    padding: 0 8px;
  }
}

@media screen and (max-width: 499px) {
  .content {
    width: 320px;
  }

  .scroll-table {
    width: 320px;
  }

  .head-table th,
  .cm-head-table th {
    font-size: 17px;
  }

  .body-table td,
  .cm-body-table td {
    font-size: 14px;
  }

  .select .all-check-box {
    padding: 0 4px;
  }

  .select button {
    font-size: 15px;
  }
}
