.main-footer {
  min-height: 20vh;
  background: #000;
}

.company-name {
  font-size: 25px;
}

.footer-content {
  text-align: right;
  padding: 25px 20px;
  color: #fff;
  font-size: 17px;
}

.github {
  text-decoration: underline;
}
