@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Do Hyeon", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-search,
.card-portfolio,
.card-like {
  width: 280px;
  height: 380px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 0 30px;
  text-align: center;

}

.main-middle>div>div {
  padding: 30px 0;
  font-size: 30px;
  color: #fff;
}

.main-middle ul {
  color: #fff;
  font-size: 25px;
  list-style: none;
  /* list-style-position: inside; */
}
