.mypage-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.mypage-info {
  width: 100%;
  height: 950px;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p,
.content span {
  color: #fff;
}

.myinfo {
  position: relative;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
}

.myinfo tr {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.myinfo th {
  width: 30%;
  border-right: 1px solid #e5e5e5;
  font-size: 22px;
}

.myinfo td {
  display: inline-flex;
  align-items: center;
  padding: 20px 20px;
}

.myinfo .contxt-title {
  font-size: 20px;
  margin: 10px;
}

.myinfo .modify-btn {
  width: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 5px 5px;
  border-radius: 15px;
  background: #ffffff;
  color: #666;
  cursor: pointer;
  text-align: center;
}
