@media (min-width: 1200px) and (max-width: 2560px) {
}

@media (min-width: 960px) and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 768px) {
  .portfolio-container {
    height: 100%;
  }

  .portfolio-write {
    width: 450px;
  }

  .porfolio-list {
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 499px) {
  .portfolio-write {
    width: 250px;
  }

  .porfolio-list {
    width: 200px;
    margin: 0 auto;
  }
}
