@media (min-width: 1200px) and (max-width: 2560px) {
  .nav-container,
  .nav-container.nav-active {
    max-width: 1100px;
  }
}

@media (min-width: 960px) and (max-width: 1199px) {
  .nav-container {
    max-width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .nav-container {
    max-width: 720px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .main-menu,
  .main-login {
    display: none;
  }
}

@media (max-width: 499px) {
}
