@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Do Hyeon", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

body {
  background-color: #2f3e81;
}

.main-top {
  min-height: 700px;
  width: 100vw;
  background: linear-gradient(140deg, #2f3e81, #4560bf);
}
