<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/nav-queries.css">
    <link rel="stylesheet" href="../public/css/company.css">
    <script src="https://kit.fontawesome.com/831618fb82.js" crossorigin="anonymous"></script>

    <!-- include Chart js -->
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <title>기업 조회</title>
  </head>

  <body>
    <div class="root"></div>
    <div class="chart-container">
      <div class="company-name">삼성전자</div>
      <div class="financial-items">
        <div class="chart-title">포괄손익계산서</div>
        <div class="chart-item">
          <canvas id="fi-chart-1" style="height:40vh; width:40vw"></canvas>
          <canvas id="fi-chart-2" style="height:40vh; width:40vw"></canvas>
        </div>
      </div>
      <div class="financial-items">
        <div class="chart-title">재무상태표</div>
        <div class="chart-item">
          <canvas id="fi-chart-3" style="height:40vh; width:40vw"></canvas>
          <canvas id="fi-chart-4" style="height:40vh; width:40vw"></canvas>
        </div>
      </div>
    </div>




    <script src="../../companysearch/companyApp.js" type="module"></script>
    <script src="../app/navbarApp.js" type="module"></script>
  </body>

</html>