<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/nav-queries.css">
    <link rel="stylesheet" href="../public/css/topcontents.css">
    <link rel="stylesheet" href="../public/css/search.css">
    <link rel="stylesheet" href="../public/css/middle.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/main-queries.css">
    <script src="https://kit.fontawesome.com/831618fb82.js" crossorigin="anonymous"></script>
    <title>건강한 주식투자를 위한 주식 커뮤니티</title>
  </head>

  <body>
    <div class="root"></div>
    <section class="main-top">
      <div class="main-info-contents">
        <div class="site-info">
          <p>2030 건강한 주식투자 솔루션</p>
          <p>주식 포트폴리오 공유 사이트</p>
        </div>
        <div class="site-image">
          <div class="loader">
            <div style="--i:0"></div>
            <div style="--i:1"></div>
            <div style="--i:2"></div>
            <div style="--i:3"></div>
            <div style="--i:4"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="main-search">
      <div class="company-seach-contents">
        <input type="text" name="company-seach" class="company-search" placeholder="기업 정보 검색">
        <button class="company-search-btn" type="submit"><i class="fas fa-search"></i>검색</button>
      </div>
    </section>
    <section class="main-middle">
    </section>
    <footer class="main-footer">
      <div class="footer-content">
        <div class="company-name">(주)에스폴리오</div>
        공동대표 : 김대휘, 권철진, 박선아<br>
        kdh92417@gmail.com (김대휘)<br>
        chkftm12@gamil.com (권철진)<br>
        suna9267@gmail.com (박선아)<br>
        <a class="github" href="https://github.com/kdh92417/stock_project">TEAM GITHUB</a>
      </div>
    </footer>
    <script type="text/javascript" src="../public/js/vanilla-tilt.js"></script>
    <script type="text/javascript">
      VanillaTilt.init(document.querySelector(".site-image"), {
        max: 25,
        speed: 400
      });
    </script>
    <script src="../public/js/script.js"></script>
    <script src="../../companysearch/searchApp.js" type="module"></script>
    <script src="../app/like_cp_pfApp.js" type="module"></script>
    <script src="../app/navbarApp.js" type="module"></script>
  </body>

</html>