<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/nav-queries.css">
    <link rel="stylesheet" href="../public/css/manager.css">
    <link rel="stylesheet" href="../public/css/manager-queries.css">

    <script src="https://kit.fontawesome.com/831618fb82.js" crossorigin="anonymous"></script>
    <title>관리자 페이지</title>
  </head>

  <body>
    <div class="root"></div>
    <div class="all-user-container">
      <div class="manager-title">관리자 페이지</div>
      <div class="user-list-container">
        <div class="sub-title">유저 리스트</div>
        <div class="user-search">
          <input type="text" placeholder="유저 ID"><button>검색</button>
        </div>
        <div class="user-list">
          <table class="all-user-table" border="0">
            <tr>
              <td>user12345</td>
              <td><button>차단</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단</button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="black-list-container">
        <div class="sub-title">블랙 리스트</div>
        <div class="user-search">
          <input type="text" placeholder="유저 ID"><button>검색</button>
        </div>
        <div class="black-list">
          <table class="black-user-table" border="0">
            <tr>
              <td>user12345</td>
              <td><button>차단해제</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단해제</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단해제</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단해제</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단해제</button></td>
            </tr>
            <tr>
              <td>user12345</td>
              <td><button>차단해제</button></td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <script src="../app/navbarApp.js" type="module"></script>
  </body>

</html>