<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/mypage.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/mypage-queries.css">
    <link rel="stylesheet" href="../public/css/nav-queries.css">
    <script src="https://kit.fontawesome.com/831618fb82.js" crossorigin="anonymous"></script>
    <title>마이페이지</title>
  </head>

  <body>

    <div class="root"></div>

    <script src="../../mypage/myinfo.model.js" type="module"></script>
    <script src="../../mypage/myinfoApp.js" type="module"></script>
    <script src="../app/navbarApp.js" type="module"></script>

  </body>

</html>