<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main/public/css/style.css">
    <link rel="stylesheet" href="../main/public/css/navbar.css">
    <link rel="stylesheet" href="../main/public/css/nav-queries.css">
    <link rel="stylesheet" href="../main/public/css/mywrite.css">
    <link rel="stylesheet" href="../main/public/css/mywrite-queries.css">
    <script src="https://kit.fontawesome.com/831618fb82.js" crossorigin="anonymous"></script>
    <title>내가 작성한 글</title>
  </head>

  <body>
    <div class="root"></div>
    <section class="mypage-write">
      <div class="content">
        <div class="writepage-title">
          <h2>작성글</h2>
        </div>
        <div class="select">
          <div class="all-check-box">
            <input type="checkbox" id="all-check"><span> 전체선택</span>
          </div>
          <button>삭제</button>
        </div>
        <table class="head-table">
          <thead>
            <th class="check"></th>
            <th class="number">번호</th>
            <th class="title">제목</th>
            <th class="date">작성일</th>
            <th class="view">조회 수</th>
          </thead>
        </table>
        <div class="scroll-table">
          <table class="body-table">
            <tbody>
              <tr>
                <td class="td-check-box">
                  <div class="check-box">
                    <input type="checkbox" name="" id="">
                  </div>
                </td>
                <td class="td-number">
                  <div class="board-number">1</div>
                </td>
                <td class="td-article">
                  <div class="board-list">퀸트 투자 포트폴리오</div>
                </td>
                <td class="td-date">2021.04.20</td>
                <td class="td-view">10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="content">
        <div class="comments-title">
          <h2>작성댓글</h2>
        </div>
        <div class="select">
          <div class="all-check-box">
            <input type="checkbox" id="all-check"><span> 전체선택</span>
          </div>
          <button>삭제</button>
        </div>
        <table class="cm-head-table">
          <thead>
            <th class="check"></th>
            <th class="comments">댓글</th>
            <th class="write-page">원문보기</th>
            <th class="cm-date">작성일</th>
          </thead>
        </table>
        <div class="scroll-table">
          <table class="cm-body-table">
            <tbody>
              <tr>
                <td class="td-cm-check-box">
                  <div class="check-box">
                    <input type="checkbox" name="" id="">
                  </div>
                </td>
                <td class="td-comments">
                  <div class="board-list">
                    <a href="">포트폴리오 공유 감사합니다.</a>
                  </div>
                </td>
                <td class="td-cm-page">
                  <a href="">원문보기</a><span>▶︎</span>
                </td>
                <td class="td-cm-date">2021.04.20</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <script src="../main/app/navbarApp.js" type="module"></script>
  </body>

</html>