<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/nav-queries.css">
    <link rel="stylesheet" href="../public/css/mywrite.css">
    <link rel="stylesheet" href="../public/css/mywrite-queries.css">
    <script src="https://kit.fontawesome.com/831618fb82.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <title>내가 작성한 글</title>
  </head>

  <body>
    <div class="root"></div>
    <section class="mypage-write">
    </section>
    <script src="../app/navbarApp.js" type="module"></script>
    <script src="../../mypage/mywriteApp.js" type="module"></script>
  </body>

</html>