.hall-of-fame-container {
  padding-top: 5rem !important;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hall-of-fame-content {
  width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hall-of-fame-title {
  font-family: "Do Hyeon", sans-serif;
  color: #fff;
  text-align: center;
  margin: 30px 0 30px 0;
  font-size: 50px;
}

.hall-of-fame-list-container {
  width: 750px;
  height: 900px;
  display: flex;
  flex-direction: column;
}

.hall-of-fame-list-container .search-company-list,
.hall-of-fame-list-container .like-portfolio-list,
.hall-of-fame-list-container .like-company-list {
  width: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.hall-of-fame-list-container .like-portfolio-list,
.hall-of-fame-list-container .like-company-list {
  border-top: 2px solid #fff;
}

.hall-of-fame-list-container .content {
  display: flex;
  align-items: center;
}

.search-company-title,
.like-portfolio-title,
.like-company-title {
  width: 100%;
  color: #fff;
  text-align: left;
  margin: 20px 0 0 55px;
  font-size: 24px;
}

.hall-of-fame-list-container .card-item {
  display: flex;
  flex-direction: row;
  margin: 20px 20px;
}

.card-item {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.card-body {
  width: 100%;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
