@media (min-width: 1200px) and (max-width: 2560px) {

}

@media (min-width: 960px) and (max-width: 1199px) {


}

@media (min-width: 768px) and (max-width: 959px) {
  .user-list-container,
  .black-list-container {
    width: 600px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .user-list-container,
  .black-list-container {
    width: 400px;
  }

  .user-list,
  .black-list {
    width: 330px;
  }
}

@media (max-width: 499px) {
  .user-list-container,
  .black-list-container {
    width: 280px;
  }

  .user-list,
  .black-list {
    width: 200px;
  }

  .user-list button,
  .black-list button {
    padding: 2px 5px;
    font-size: 15px;
    margin-right: 0;
    margin-left: 0;
  }

  .user-search button {
    padding: 6px 8px;
    margin: 2px 4px;
    font-size: 20px;
  }

  input {
    width: 180px;
    font-size: 20px;
    padding: 4px;
  }
}
