.main-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
  background-color: #293852;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  text-align: center;
}

.card-search,
.card-portfolio,
.card-like {
  width: 280px;
  height: 380px;
  border-radius: 35px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin: 0 30px;
  text-align: center;
}

.main-middle > div > div {
  padding: 30px 0;
  font-size: 30px;
  color: #fff;
}

.main-middle ul {
  padding: 60px 0;
  color: #fff;
  font-size: 25px;
  list-style: none;
}
