asgiref==3.2.3
bcrypt==3.1.7
Django==3.0.7
django-allauth==0.42.0
django-cors-headers==3.4.0
django-rest-auth==0.9.5
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.6.0
mysqlclient==1.4.6
PyJWT==1.7.1
PyMySQL==0.9.3
gunicorn==20.1.0
