<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/mypage.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/mypage-queries.css">
    <link rel="stylesheet" href="../public/css/nav-queries.css">
    <script src="https://kit.fontawesome.com/831618fb82.js" crossorigin="anonymous"></script>
    <script src="../public/js/script.js" defer></script>
    <title>마이페이지</title>
  </head>

  <body>
    <div class="root"></div>
    <!-- <section class="mypage-info">
      <div class="mypage-title">
        <h2>회원정보수정</h2>
      </div>
      <div class="content">
        <table class="myinfo">
          <tbody>
            <tr>
              <th>
                <span>아이디</span>
              </th>
              <td>
                <p class="contxt-title">wnflsdl</p>
              </td>
            </tr>
            <tr>
              <th>
                <span>비밀번호</span>
              </th>
              <td>
                <p class="modify-btn">수정</p>
              </td>
            </tr>
            <tr>
              <th>
                <span>사용자이름</span>
              </th>
              <td>
                <p class="contxt-title">주린이</p>
                <p class="modify-btn">수정</p>
              </td>
            </tr>
            <tr>
              <th>
                <span>생년월일</span>
              </th>
              <td>
                <p class="contxt-title">00년 00월 00일 </p>
                <p class="modify-btn">수정</p>
              </td>
            </tr>
            <tr>
              <th>
                <span>전화번호</span>
              </th>
              <td>
                <p class="contxt-title">010-1234-1234</p>
                <p class="modify-btn">수정</p>
              </td>
            </tr>
            <tr>
              <th>
                <span>이메일</span>
              </th>
              <td>
                <p class="contxt-title">abc1234@gmail.com</p>
                <p class="modify-btn">수정</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section> -->
    <script src="../public/js/userinfo.js"></script>
    <script src="../view/navbar.view.js" type="module"></script>
  </body>

</html>