<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/nav-queries.css">
    <link rel="stylesheet" href="../public/css/portfolio-board.css">
    <link rel="stylesheet" href="../public/css/portfolio-board-queries.css">
    <script src="https://kit.fontawesome.com/831618fb82.js" crossorigin="anonymous"></script>
    <title>포트폴리오 게시판</title>
  </head>

  <body>
    <div class="root"></div>
    <div class="portfolio-container">
      <div class="portfolio-content">
        <div class="portfolio-title">포트폴리오 게시판</div>
        <div class="portfolio-list-container">
          <div class="company-search">
            <input type="text" placeholder="기업명 검색"><button>검색</button>
          </div>
          <div class="portfolio-write">
            <button>글쓰기</button>
          </div>
          <div class="porfolio-list">
            <div class="card-item">
              <div class="card-thumbnail">
                <img src="" alt="">
              </div>
              <div class="card-body">
                <div class="write-title">퀸트 투자 포트폴리오</div>
                <div class="writer">
                  <img src="" alt="">
                  <span class="nickname">주린이</span>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="card-thumbnail">
                <img src="" alt="">
              </div>
              <div class="card-body">
                <div class="write-title">퀸트 투자 포트폴리오</div>
                <div class="writer">
                  <img src="" alt="">
                  <span class="nickname">주린이</span>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="card-thumbnail">
                <img src="" alt="">
              </div>
              <div class="card-body">
                <div class="write-title">퀸트 투자 포트폴리오</div>
                <div class="writer">
                  <img src="" alt="">
                  <span class="nickname">주린이</span>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="card-thumbnail">
                <img src="" alt="">
              </div>
              <div class="card-body">
                <div class="write-title">퀸트 투자 포트폴리오</div>
                <div class="writer">
                  <img src="" alt="">
                  <span class="nickname">주린이</span>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="card-thumbnail">
                <img src="" alt="">
              </div>
              <div class="card-body">
                <div class="write-title">퀸트 투자 포트폴리오</div>
                <div class="writer">
                  <img src="" alt="">
                  <span class="nickname">주린이</span>
                </div>
              </div>
            </div>
            <div class="card-item">
              <div class="card-thumbnail">
                <img src="" alt="">
              </div>
              <div class="card-body">
                <div class="write-title">퀸트 투자 포트폴리오</div>
                <div class="writer">
                  <img src="" alt="">
                  <span class="nickname">주린이</span>
                </div>
              </div>
            </div>
          </div>
          <script src="../view/navbar.view.js" type="module"></script>
  </body>

</html>